body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	padding-top: 50px;
	margin: 0;
}

.ski-body { background-color: #e0f0ff; }
.snow-body { background-color: #fff4e0; }

.card {
	background-color: white;
	width: 300px;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

ul {
    text-align: left;
    color: #555;
}





